:root{
  --bg:#e9e9ef;
  --card:#17171b;
  --txt:#e9e9ef;
  --muted:#e9e9ef;
  --brand:#4f46e5;
  --brand-2:#0ea5e9;
  --radius:16px;
  --container:1200px;
}
*{box-sizing:border-box}
html,body{margin:0;padding:0;background:var(--bg);color:var(--txt);font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,"Helvetica Neue",Arial,"Apple Color Emoji","Segoe UI Emoji";line-height:1.5}
img{max-width:100%;display:block}
a{color:inherit;text-decoration:none}
.container{width:min(100% - 2rem,var(--container));margin-inline:auto}

.header{position:sticky;top:0;background:rgb(0, 0, 0);backdrop-filter:saturate(180%) blur(10px);border-bottom:1px solid #222;z-index:10}
.header__inner{display:flex;align-items:center;justify-content:space-between;padding:.9rem 0}
.logo img{height:60px}
.nav__list{display:flex;gap:1rem;list-style:none;margin:0;padding:0}
.nav__link{padding:.6rem .9rem;border-radius:999px;transition:.2s background}
.nav__link:hover{background:#e9e9ef}
.nav__link.active{background:linear-gradient(90deg,var(--brand),var(--brand-2));color:#fff}

.banner{min-height:52vh;display:grid;align-items:center;border-radius:var(--radius);overflow:hidden;margin:1rem 0;position:relative}
.banner--one{background:linear-gradient( to bottom right, rgba(79,70,229,.25), rgba(14,165,233,.15) ), url("../imagenes/INSERTO-LAMA.jpg") center/cover no-repeat}
.banner--two{background:linear-gradient( to bottom right, rgba(14,165,233,.25), rgba(79,70,229,.15) ), url("../imagenes/INSERTO-DODEKA.png") center/cover no-repeat}
.banner__content{padding:3rem;max-width:700px}
h1,h2,h3{margin:0 0 .6rem}
p{color:var(--muted);margin:0 0 1rem}
.btn{display:inline-block;padding:.8rem 1.1rem;background:var(--brand);color:#fff;border-radius:12px;font-weight:600;transition:.2s transform}
.btn:hover{transform:translateY(-1px)}
.btn--alt{background:var(--brand-2)}

.main{padding:2rem 0}
.grid{display:grid;grid-template-columns:repeat(3,minmax(0,1fr));gap:1rem}
.card{background:var(--card);padding:1rem;border-radius:var(--radius);border:1px solid #24242a}

.footer{margin-top:3rem;border-top:1px solid #222}
.footer__inner{display:flex;align-items:center;justify-content:space-between;gap:1rem;padding:1rem 0}
.footer a{color: #222;}
.footer a:hover{color:#222}


#whatsappIcon {
  width: 50px;
  height: auto;
  cursor: pointer;
}